#jinja2: lstrip_blocks: True
{{ ansible_managed | comment }}
# https://coredns.io/manual/toc/#configuration

. {
  log {
    class {{ coredns_log_classes }}
  }
{% for plugin in coredns_extra_plugins %}
  {{ plugin }}
{% endfor %}
{% if coredns_custom_config | length > 0 %}
  {{ coredns_custom_config }}
{% endif %}
  auto {
    directory {{ coredns_zones_dir }} db\.(.*) {1}
  }
  forward . {{ coredns_upstream_servers }}
}
